<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DavidPlaceholderTextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>631B61751C1F02C90044F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631B618E1C1F02C90044F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631B61991C1F02C90044F53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
